<div id="ChartModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Visualisation with Chart</h4>
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- Collection part -->
                <div id="collectionModalContent">
                    <h4 class="modal-title">Collection</h4>
                    <p>
                        <form name="form1" id="form" onSubmit="sendRequest()">
                            <div class="container m-0">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check-34-chart" name="check-34-chart">
                                        <label class="form-check-label pl-2" for="check-34-chart">34 Definitions of intelligence
                                            from the literature to agree upon (AGISI.org survey)</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check-71-chart" name="check-71-chart">
                                        <label class="form-check-label pl-2" for="check-71-chart">71 Definitions of intelligence
                                            from the paper [Legg & Hutter, 2007]</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check-125-chart" name="check-125-chart">
                                        <label class="form-check-label pl-2" for="check-125-chart">125 Experts' suggested
                                            definitions of human intelligence (AGISI.org survey)</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check-213-chart" name="check-213-chart">
                                        <label class="form-check-label pl-2" for="check-213-chart">213 Experts' suggested
                                            definitions of machine intelligence (AGISI.org survey)</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
                <!-- Visualisation part -->
                <div id="VisualisationModalContent">
                    <h4 class="modal-title">Visualisation</h4>
                    <p>
                        <form name="form2" id="form" onSubmit="sendRequest()">
                            <div class="container m-0">
                                <!-- <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="customControlValidation2"
                                        name="radio-stacked" onclick="resetradio(this)" required>
                                    <label class="custom-control-label pl-2" for="customControlValidation2">Graph</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="customControlValidation3"
                                        name="radio-stacked" onclick="resetradio(this)" required>
                                    <label class="custom-control-label pl-2" for="customControlValidation3">Chart</label>
                                </div> -->
                                <div class="form-check mt-1">
                                    <input style="color: darkcyan;" type="checkbox" class="form-check-input"
                                        id="check-chart-20" name="check-chart-20">
                                    <label class="form-check-label pl-2" for="check-chart-20">Show only 20 most common
                                        words in Chart</label>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
                <!-- Minimum number of occurence part -->
                <div id="MinimumNumberOfOccurencesModalContent">
                    <h4 class="modal-title">Minimum number of occurence</h4>
                    <p>
                        <form name="form3" id="form" onSubmit="sendRequest()">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-11 col-sm-11 col-md-11">
                                        <h2>
                                            <label for="numberrangeChart">Minimum number of occurences per word: </label>
                                        </h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="range" name="slider" class="custom-range w-100" min="1" max="30"
                                            step="1" id="numberrangeChart" oninput="rangeout.value = ' ['+numberrangeChart.value+']'">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <h2>
                                            <output name="number-range-out" id="rangeout"> [16]</output>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
                <!-- Word Groups part -->
                <div id="WordGroupsModalContent">
                    <h4 class="modal-title">Word Groups to only include</h4>
                    <p>
                        <form name="form4" id="form" onSubmit="sendRequest()">
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="check-nouns-chart" name="check-nouns-chart">
                                    <label class="form-check-label pl-2" for="check-nouns-chart">Nouns</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="check-verbs-chart" name="check-verbs-chart">
                                    <label class="form-check-label pl-2" for="check-verbs-chart">Verbs</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="check-adjectives-chart"
                                        name="check-adjectives-chart">
                                    <label class="form-check-label pl-2" for="check-adjectives-chart">Adjectives</label>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" id="swbutton" onclick="sendRequest(false)"
                    class="btn btn-primary btn-block w-100 text-center" data-dismiss="modal">Show</button>
            </div>
        </div>
    </div>
</div>