<div class="box">

    <div class="item"></div>
    <div class="item"></div>

</div>



<style>
    .box {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: khaki;
    }

    .item {
        width: 20px;
        height: 20px;
        background-color: red;
        margin: 10px;
    }
</style>