<script src="/static/forminput.js"></script>

<div id="GraphModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Visualisation with Graph</h4>
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- Collection part -->
                <div id="collectionModalContent">
                    <h4 class="modal-title">Collection</h4>
                    <p>
                        <form name="form1" id="form" onSubmit="sendRequest()">
                            <div class="container m-0">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check-34-graph" name="check-34-graph">
                                        <label class="form-check-label pl-2" for="check-34-graph">34 Definitions of intelligence
                                            from the literature to agree upon (AGISI.org survey)</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check-71-graph" name="check-71-graph">
                                        <label class="form-check-label pl-2" for="check-71-graph">71 Definitions of intelligence
                                            from the paper [Legg & Hutter, 2007]</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check-125-graph" name="check-125-graph">
                                        <label class="form-check-label pl-2" for="check-125-graph">125 Experts' suggested
                                            definitions of human intelligence (AGISI.org survey)</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="check-213-graph" name="check-213-graph">
                                        <label class="form-check-label pl-2" for="check-213-graph">213 Experts' suggested
                                            definitions of machine intelligence (AGISI.org survey)</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
                <!-- Minimum number of occurence part -->
                <div id="MinimumNumberOfOccurencesModalContent">
                    <h4 class="modal-title">Minimum number of occurence</h4>
                    <p>
                        <form name="form3" id="form" onSubmit="sendRequest()">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-11 col-sm-11 col-md-11">
                                        <h2>
                                            <label for="numberrangeGraph">Minimum number of occurences per word: </label>
                                        </h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                        <input type="range" name="slider" class="custom-range w-100" min="1" max="30"
                                            step="1" id="numberrangeGraph" oninput="rangeout.value = ' ['+numberrangeGraph.value+']'">
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                        <h2>
                                            <output name="number-range-out" id="rangeout"> [16]</output>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
                <!-- Word Groups part -->
                <div id="WordGroupsModalContent">
                    <h4 class="modal-title">Word Groups to only include</h4>
                    <p>
                        <form name="form4" id="form" onSubmit="sendRequest()">
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="check-nouns-graph" name="check-nouns-graph">
                                    <label class="form-check-label pl-2" for="check-nouns-graph">Nouns</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="check-verbs-graph" name="check-verbs-graph">
                                    <label class="form-check-label pl-2" for="check-verbs-graph">Verbs</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="check-adjectives-graph"
                                        name="check-adjectives-graph">
                                    <label class="form-check-label pl-2" for="check-adjectives-graph">Adjectives</label>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" id="swbutton" onclick="sendRequest(true)"
                    class="btn btn-primary btn-block w-100 text-center" data-dismiss="modal">Show</button>
            </div>
        </div>
    </div>
</div>